#cancel_edit_button,
#back_button {
  color: red;
  font-weight: 600;
}

#back_button {
  margin-top: 20px;
}

.timepicker-digital-display,
.datepicker-date-display,
.datepicker-table td.is-selected {
  background-color: #aa00ff;
}

.timepicker-close,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #aa00ff;
}
