#cancel_edit_button {
  color: red;
  font-weight: 600;
}

.timepicker-digital-display,
.datepicker-date-display,
.datepicker-table td.is-selected {
  background-color: #aa00ff;
}

.timepicker-close,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #aa00ff;
}
